/* start styling */
*{
    margin: 0;
    padding: 0;
}

/* HEADER */
.navbar{
    top:0;
    position: relative;
    height: 95px;
    background-color: #0065c3;
    
    
}
.navbar img{
    margin-top: -47px;
    height: 68px; 
}
.navbar .nav-items{
    color: white;
    font-weight: 700;
    padding: 32px;
    margin-top: -56px;
    font-family: 'Roboto', sans-serif
}
.Btn{
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 2px 7px;
    border-radius: 18px;
    font-weight: 700;
    margin-top: -56px;
}

/* main */

.main{
  display: flex;
  background: black;
  background-size: auto;
  height: 550px;
  margin-left:12px ;
  position: relative;
}

.image-1{
    margin-top: -100px;
   height:50vh;
}

.main-container{
    display: flex;
}

/* main-7 */
#main-7{
    background-color: blue;
    display: flex;
}

.main-7-container img{
    display: block;
     max-width: 100%;
     height: auto;
    margin-top: 4em
}


